.pageBody-Container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 87vh;    
}

.pageToolbar{
    display: flex;
    justify-content: space-around;
}

.labelDlg{
display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: bold;
    line-height: 1;
    color: black;
    text-align: center;
    vertical-align: baseline;
}

.hide{
    width: 0px;
    height: 0px;
    visibility: hidden;
}

.dispBlock{
    display: block;
}
.marginR1em{
    margin-right: 1em;
}
.marginR5px{
    margin-right: 5px;
}


.marginRA{
    margin-right: auto;
}
.displayIB{
    display: inline-block;
}

